.class1{
    display:flex;
    margin-top:50px;
}
.class1 > div{
    padding:10px;
    flex-basis:33.33%;
}
.class1 div:nth-of-type(2){
    border: 2px solid black; 
    padding: 100px;
}

body{
    background-image:url('resources/rail1.jpeg') ;
    background-size: cover;
}
.class1 div > select,input
{
    border-radius:10px;
    padding:10px;
    background-color: cornflowerblue;
}
@media(max-width:992px){
    .class1 div:nth-of-type(1),.class1 div:nth-of-type(3){
        display:none;
    }
}